h1 {
	color: red;
	font-family: 'Arvo', serif;
	font-size: 48px;
}

body {
	background-image: url("images/background/grid.jpg");
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	font-size: 24px;
}


#footer{
	background-color: black;
	color: #aaaaaa;
	padding-top: 3em;
	padding-bottom: 3em;

}

#footer a {
	color: #aaaaaa;
}

#footer a:hover {
	color: #dddddd;
	font-size: 30px;
}

#wrapper {
	background-image: url("images/background/222.jpg");
	height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)


}

#wrapper h1{
	font-size: 71px;
}

#wrapper h2{
	font-size: 24px;
	margin-bottom: 1,5em;
}